body{
    font-family: "맑은 고딕","고딕", "굴림";
}
header{
    background-color: darkcyan;
    width: 80%;
    margin-left: auto;/*가운데 정렬*/
    margin-right: auto;
    padding: 10px;

    /* padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px; */

    /* padding: 10px 30px 50px 100px;top기준 시계방향 */
    overflow: hidden;

}

h1{
    font-size: 2em;
    /* background-color: darkgoldenrod; */

}
/* header의 자손인 h1 태그에 적용 */
header h1{
    color: whitesmoke;
    width: 40%;
    float: left;
}
/* header 의 자식인 nav 태그에 적용 */
header > nav{
    /* background-color: tomato; */
    width: 60%;
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    /* background-color: aqua; */
    display: inline;/*li 가로 정렬*/
    float: left;
    margin: 15px;

}

a{
    text-decoration: none;
    color: white;
}

section{
    width: 80%;/*가로길이*/
    margin-left: auto;
    margin-right: auto;/*영역 가운데 정렬*/
    border: 5px solid #333; /*테두리*/
    /* border-width: ;
    border-style: ;
    border-color: ; */
    padding: 5px;

}
h2{
    font-size: 1.8em;
    padding: 15px;
    border-radius: 3px;
    box-shadow: -3px 3px 3px 0px rgb(198, 198, 198);
}

h3{
    font-size: 1.3em;
    margin: 15px 0px 15px 10px;
    border-left: 8px solid rgb(214, 36, 72);
}

p{
    font-size: 15px;
    line-height: 30px;
    margin: 20px;
}
dl {
    line-height: 30px;
    padding-left: 30px;
    margin-right: 30px;
}
dt{
    font-size: 1.1em;
    font-weight: bold;/*글자굵게*/
    color: rgb(128, 202, 231);
}
ul{
    line-height: 30px;
}
footer{
    background-color: #333;
    width: 80%;
    margin: auto;   
    text-align: center;
    padding: 10px;
    color: white;
}